.App {
/*   text-align: center; */
padding: 20px;
}

/* Loading Spinner */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 { 
  font-size: 20px;
}
 
 a {
  text-decoration: none;
  }
 
 

.project-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 20px;
  text-align: center;
}

.project-flex-container > a {
/*   padding: 20px; */
  text-decoration: none;
  width: 150px;
}

.grid-item {
  transition: all .5s;
}

.grid-item:hover {
  transform: scale(105%)
}

.project-title {
  font-size: 14px;
}

.grid-image-wrapper {
  background-color: #ccc;
  width: 150px;
  height: 150px;
  transition: all .5s; 
}

.grid-image-wrapper:hover {
  background-color: #eee;
}