.App {
/*   text-align: center; */
padding: 0;
margin: 0 auto;
}

/* Loading Spinner */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header > h1 { 
  font-size: 20px;
  margin: 0;
  padding: 15px 5px 5px 15px;
  color: #ddd;
}

header a {
  color: #fff;
}
 
 a {
  text-decoration: none;
  }
 
 header {
  background-color: #000;
  width: 100%;
  padding: 0 0 15px 0;
 }

.project-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 20px;
  text-align: center;
}

.project-flex-container > a {
/*   padding: 20px; */
  text-decoration: none;
  width: 150px;
}

.grid-item {
  transition: all .5s;
}

.grid-item:hover {
  transform: scale(105%)
}

.project-title {
  font-size: 14px;
}

.grid-image-wrapper {
  background-color: #ccc;
  width: 150px;
  height: 150px;
  transition: all .5s; 
}

.grid-image-wrapper:hover {
  background-color: #eee;
}

.dashboard-container {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  justify-content: space-between;
}

.form-container {
  background-color: rgb(250, 250, 250);
  border: 1px solid #ccc;
  border-radius: 6px;
  width: calc(50vw - 50px);
  margin: 10px;
}


input,
button,
select,
label {
  margin: 10px;
}



form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
/*   justify-content: center; */
}

form input[type="text"],
select {
  flex: 1;
  justify-content: center;
  width: 95%;
}

form > button {
  width: 50px;
}
