<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="banner">
      <div><a href="/">Christopher Bowers</a>: Lens Based Media</div>
    </div>

    <div style="margin: 0 24px;">
      <div class="wrapper">
      <nav>
        <ul>
          {{#each menus }}
            <ul {{#if (eq ../pageTitle title)}}class="active"{{/if}}>
              <a href={{ url }}>{{ title }}</a>
            </ul>
          {{/each}}
        </ul>
      </nav>
      {{{ body }}}
      </div>
    </div>

    {{> footer }}
  </body>
</html>
