@import "../breakpoints.scss";

.wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 2em 1em 0;

  // @media (max-width: $md){
    @include for-tablet-portrait-down {
      margin-top: 1em;
      flex-flow: column;
  }
}
