<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>{{pageTitle}}</title>
    <link rel='shortcut icon' href='data:image/x-icon;,' type='image/x-icon' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class='wrapper'>
      <div class='grid'>
        {{#if loggedin}}
          <nav>
            <ul>
              <li>
                <a href='/admin/projects'>Projects</a>
              </li>
              <li>
                <a href='/admin/images'>Images</a>
              </li>
              <li>
                <a href='/admin/logout'>Logout</a>
              </li>
            </ul>
          </nav>
        {{/if}}

        {{{body}}}
      </div>
    </div>
  </body>
</html>